@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; 
}
.navbar {
  background-color: rgba(255, 217, 0, 0.791);
  padding: 1rem;
}

.navLinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 60%;
}

.navLinks li {
  margin-right: 4.5rem; /* Spacing between links */
}

.navLinks a {
  color: rgb(0, 0, 0); /* Link color */
  text-decoration: none;
  font-size: 1rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}

.navLinks a:hover {
  color: rgb(0, 0, 0); /* Hover color */
}

html {
  scroll-behavior: smooth;
}
